<h1>That url has already been shortened!</h1>
<h4>The url: <%= @thisurl%></h4>
<h4>Short key: <%= @itsshort%></h4>
<p><%=link_to "go here",'https://supurl.herokuapp.com/short/'%><%= @itsshort%> will redirect you to the full url.)</p>
<%= link_to 'back', root_path%>
