<h1>That url has already been shortened!</h1>
<h4>The url: <%= @thisurl%></h4>
<h4>Short key: <%= @itsshort%></h4>
<p><a href="https://supurl.herokuapp.com/short/<%= @itsshort%>">CLICK HERE</a></p>
<!-- <p><%=link_to "go here",'https://supurl.herokuapp.com/short/'%><%= @itsshort%> </p> -->
<%= link_to 'back', root_path%>
